<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     {{!-- Bootstrap Link: --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery.js"></script>
     {{!-- CSS file: --}}
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" >

    {{!-- jQuery Link: --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- JS Link: --}}
     <script src="/assets/js/views.js"></script>

    

    <title>Eat da Burger</title>


</head>
<body>
    {{{body}}}

</body>
</html>